{{> header }}

{{> navbar }}
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="co-md-8"> 
				
				<p class="lead">Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.</p>
				<hr class="my-4">
				<p>Sign up for Node.js Everywhere, the official Node.js Monthly Newsletter.</p>
				<a class="btn btn-primary btn-lg" href="https://foundation.nodejs.org/" role="button">FOUNDATION</a>
			</div>
			<div class="col-md-4">
				<img src="assets/img/js-interactive-seo.jpg" alt="" class="img-thumbnail">
			</div>
		</div>
	</div>
{{> footer }}
